h1 {
    color: rgb(245, 244, 243);
}
body {
    background-image: url(https://mcdn.wallpapersafari.com/medium/94/51/NUsItf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid {
   
} 